
.box{
    width: 1300px;
    border: 15px solid green;
    padding: 200px;
    margin: 200px;
    position: absolute; /* Position the box */
    top: 0%; /* Center vertically */
    left: 15%;
}

.component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.card-container {
    position: absolute;
    top: 50px; /* Move 50 pixels from the top */
    left: 100px; /* Move 100 pixels from the left */
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

